<div class="about-me-card">
  <div class="myphoto">
    <img src="https://cdn-icons-png.flaticon.com/512/2696/2696550.png" alt="My Pic">
  </div>
  <section>
    <h2>About Me</h2>
    <p>
      Hi, I'm Rahul Kumar, an aspiring software developer with hands-on experience building Front End Web applications and a solid technical foundation. I have a strong passion for technology and problem-solving and am eager to learn and work with new tools and frameworks. My academic journey and project experience have honed my skills in software development, and I am dedicated to continuous improvement and impactful work in the tech industry.<br><br>
      I bring energy, curiosity, and determination to every challenge—seeking not just to code, but to create solutions that make a difference. Whether collaborating in a team or tackling solo projects, I value clear communication, a growth mindset, and a keen eye for detail.<br><br>
      Let’s connect and build something great together!
    </p>
  </section>
</div>
